name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 18
      uses: actions/setup-java@v3
      with:
        java-version: '18'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Generate debug keystore
      run: |
        # 直接使用 android 作为密码（替换原有的 secrets 引用）
        keytool -genkey -v -keystore app/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US" -ext "SAN=dns:localhost,ip:127.0.0.1"
    - name: Fix line endings for gradlew
      run: |
        tr -d '\r' < gradlew > gradlew.fixed
        mv gradlew.fixed gradlew
        chmod +x gradlew
    - name: Generate signed debug APK
      run: |
        ./gradlew :app:assembleDebug
      env:
        # 环境变量直接使用 android 作为密码
        ORG_GRADLE_PROJECT_DEBUG_STORE_PASSWORD: android
        ORG_GRADLE_PROJECT_DEBUG_KEY_ALIAS: androiddebugkey
        ORG_GRADLE_PROJECT_DEBUG_KEY_PASSWORD: android
    - name: Upload debug APK
      uses: actions/upload-artifact@v4
      with:
        name: debug-apk
        path: app/build/outputs/apk/debug/app-debug.apk